*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    color: #080505;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(red, green, blue, alpha);
     
}
.logo{
    font-size: 24px;
    color: blue;
    font-weight: bold;
}
nav ul{
    display: flex;
    list-style: none;
}
    nav ul li{
        margin-left: 20px;
    }
    nav ul li a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    main{
        display: flex;
        justify-content: space-between;
        padding: 50px;
        background-color: bisque;
          }
    .content{
        max-width: 50%;
    }
    .content h1{
        font-size: 36px;
        margin-bottom: 20px;
    }
    .content p{
        margin-bottom: 20px;
        line-height: 1.4;
    }
    .image img{
        width: 100%;
        max-width: 600px;
    }
    .card{
        background-color: blue;
    }